*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #f0efef;
}

.parent1,.parent2,.parent5,.parent6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
   
}


.parent3,.parent4,.parent7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 400px;
   
}

.div{
     width: 220px;
    height: 180px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgb(218, 217, 217);
   
    
}

.gray{
    width:140px ;
    height: 140px;
    background-color: rgb(223, 223, 223);
}


.div1,.div2,.div3,.div4,
.div5,.div6,.div7,.div8,
.div9,.div10,.div11,.div12,
.div13,.div14,.div15,.div16,
.div17,.div18,.div19,.div20,
.div21,.div22,.div23,.div24,.div25,.div26{
    width:140px ;
    height: 140px;
   background-color: #99BC85;
     transition: all 1s ease;
}


.div1:hover{
    transform: rotate(45deg);
}

.div2:hover{
    transform: scaleY(0.5);
}

.div3:hover{
    transform: scaleX(0.5);
}

.div4:hover{
    transform: scale(2,2);
}

.div5:hover{
    transform: scaleX(1.5);
}
.div6:hover{
    transform: scaleY(1.5);
}

.div7:hover{
    transform: skewX(40deg);
}

.div8:hover{
    transform: skewY(40deg);
}

.div9:hover{
    transform: translate(30px,15px);
}

.div10:hover{
transform: translateX(40px);
}

.div11:hover{
    transform: translateY(50px);
}

.div12:hover{
    transform: translateX(30px) skewY(60deg);
}


.div13:hover{
    transform: perspective(400px) rotateX(70deg); 
    height: 200px;
    
}

.div14:hover{
    transform: perspective(400px)  rotateY(50deg);
}



.div15{
    transform-origin: top right;
}
.div15:hover{
    
    transform: rotate(45deg);
}



.div16{
    transform-origin: bottom left;
}
.div16:hover{
    
    transform: rotate(45deg);
}




.div17{
    transform-origin: bottom;
}
.div17:hover{
    
    transform: perspective(400px) rotatex(60deg);
}



.div18{
    transform-origin: top;
}
.div18:hover{
    
    transform: perspective(400px) rotatex(80deg);
}



.div19{
    transform-origin: left;
}
.div19:hover{
   
    transform: perspective(400px) rotateY(60deg);
}



.div20{
    transform-origin: right;
}
.div20:hover{
    
     transform: perspective(400px) rotateY(60deg);
}



.div21{
     transform-origin: top right;
}
.div21:hover{
   
    transform: scale(1.3,1.3);
}



.div22{
    
    transform-origin: bottom left;
}
.div22:hover{
    transform: scale(1.3,1.3);
}



.div23{
    transform-origin: top right;
}
.div23:hover{
    
    transform: scaleX(1.5);
}




.div24{
    transform-origin: left;
}
.div24:hover{
    
    transform: scaleX(1.5);
}


.div25{
     transform-origin: top;
}

.div25:hover{
   
    transform: scaleY(1.6);
}




.div26{
     transform-origin: bottom;
}
.div26:hover{
   
    transform: scaleY(1.6);
}





